:root {
    --background-color: #006d66;
    --container-color: #bffffb;
  }
  
  body {
    margin: 0;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .FYP-logo {
  border-radius: 50%;
  border: 3px solid #2196f3; /* optional: adds a colored border */
  object-fit: cover;         /* makes sure the image fits inside the circle */
}

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container-color);
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .welcome-text {
    font-size: 1.8rem;
    color: #000000;
    margin-bottom: 0.5rem;
  }
  
  .portal-text {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 1rem;
  }
  
  .logo-container {
    margin-bottom: 1.5rem;
    height: auto;
    width: auto;
  }
  
  .login-header {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: 0.3rem;
  }
  
  .form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: #e0f7f5;
  }
  
  .forgot-password {
    margin-top: 0.5rem;
  }
  
  .forgot-password a {
    color: #000000;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .login-button {
    background-color: #fff;
    color: #006d66;
    margin-top: 5%;
    border: 1px solid #006d66;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  .login-button:hover {
    background-color: #000000;
    color: #fff;
    transform: scale(1.05);
  }
  
  .error-message {
    margin-top: 1rem;
    color: #ff4d4d;
    font-weight: bold;
  }