:root {
    --background-color: #bffffb;
    --container-color: #006d66;
  }
  
  body {
    margin: 0;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container-color);
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .change-password-box {
    width: 100%;
  }
  
  .change-password-header {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .image-box {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .changePW-image {
    max-width: 100px;
    margin-bottom: 0.5rem;
    border-radius: 20%;
  }
  
  .image-text {
    font-size: 1rem;
    color: #e0f7f5;
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-size: 0.9rem;
    color: #e0f7f5;
    margin-bottom: 0.3rem;
  }
  
  .form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .change-password-button {
    background-color: #fff;
    color: #006d66;
    border: 1px solid #006d66;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  .change-password-button:hover {
    background-color: #006d66;
    color: #fff;
    transform: scale(1.05);
  }
  
  .message-text {
    margin-top: 1rem;
    color: #e0f7f5;
    font-size: 1rem;
  }