.project-view {
  display: flex;
  min-height: 100vh;
  background-color: #bffffb;
}


.main-content {
  padding: 20px;
}
  
  .project-view-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #004d66;
    margin-top: 20%;
    margin-left: 8%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    margin-top: 30px;
    margin-left: 20%;
  }
  
  .table-responsive {
    margin-top: 20px;
  }
  
  .project-table {
    position: relative;
    right: 8%;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  
    thead {
      background-color: #f8f8f8;
      text-align: left;
      border-bottom: 2px solid #ddd;
    }
  
    th,
    td {
      padding: 15px 20px;
      font-size: 1rem;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }
  
    tr {
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #f1f1f1;
      }
    }
  
    .button-group {
      display: flex;
      gap: 10px;
      justify-content: center;
    }
  
    .btn {
      padding: 6px 14px;
      border-radius: 6px;
      font-size: 0.9rem;
      transition: all 0.3s ease;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
      &.btn-accepted {
        background-color: green;
        color: aliceblue;
  
        &:hover {
          background-color: #006400;
          transform: translateY(-3px); /* Elevates the button */
          box-shadow: 0 6px 8px rgba(0, 128, 0, 0.2);
        }
      }
  
      &.btn-reject {
        background-color: rgb(128, 0, 0);
        color: aliceblue;
  
        &:hover {
          background-color: #8b0000;
          transform: translateY(-3px);
          box-shadow: 0 6px 8px rgba(139, 0, 0, 0.2);
        }
      }
  
      &.btn-review {
        background-color: rgb(13, 60, 214);
        color: aliceblue;
  
        &:hover {
          background-color: #0d3cd6;
          transform: translateY(-3px);
          box-shadow: 0 6px 8px rgba(13, 60, 214, 0.3);
        }
      }
    }
  
    .project-item img {
      height: 30px;
      width: 30px;
      transition: transform 0.3s ease, opacity 0.3s ease;
      
      &:hover {
        transform: scale(1.2); /* Slight zoom effect on hover */
        opacity: 0.8;
      }
    }
  }
  
  .pagination-container {
    display: flex;
    margin-top: 20px;
    margin-left: 50%;
  
    .pagination {
      display: flex;
      gap: 12px;
    }
  
    .btn {
      background-color: #e0e0e0;
      color: #333;
      padding: 8px 16px;
      border-radius: 5px;
      font-size: 0.9rem;
      border: none;
      transition: all 0.3s ease;
  
      &:hover {
        background-color: #bdbdbd;
        transform: translateY(-2px);
      }
    }
  
    .btn-current {
      background-color: purple;
      color: white;
  
      &:hover {
        background-color: #7e33a6;
        transform: translateY(-2px);
      }
    }
  
    .dots {
      padding: 8px 16px;
    }
  }
  